@using TravelerPortal.WebUI.Helpers
@{
    var randomQuote = TravelerPortal.Services.QuotesService.GetRandomQuote();
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soul&nbsp;Travel</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
    @RenderStyles()
    @RenderHeaderScripts()
</head>
<body>
    <div class="picture-film">
        @foreach (var album in TravelerPortal.Services.PhotogalleryService.GetActiveAlbums())
        {
            <a href="@Url.RouteUrl("AlbumById", new { albumId = album.Id })">
                <img src="@album.CoverPath">
            </a>
        }
    </div>
    <div id="wrap">
        <div id="header">
            <h1 id="logo"><span class="green">soul</span>travel</h1>
            <h2 id="slogan">путешествия со смыслом<br>путешествия для души</h2>
            @* JUST IN CASE
            <form method="post" class="searchform" action="javascript:void(0)">
                <p>
                    <input type="text" name="search_query" class="textbox" />
                    <input type="submit" name="search" class="button" value="Search" />
                </p>
            </form>
            <ul>
                <li id="current"><a href="javascript:void(0)"><span>Главная</span></a></li>
            </ul>
            *@
            <div class="wise-words">
                <p>&quot;@randomQuote.Text&quot;<br>@randomQuote.Author</p>
            </div>
        </div>
        <div id="content-wrap">
            <img src="~/Content/img/headerphoto.jpg" class="no-border" />
            <div id="sidebar">
                <ul class="sidemenu">
                    @Html.BuildMainMenuItems(Url, (string)ViewBag.ActiveMainMenuItemTitle)
                </ul>
            </div>
            <div id="main">
                @RenderBody()
            </div>
            <div id="rightbar">
                <h1>Новости</h1>
                @{ Html.RenderAction("NewsSidebar", "News", new { area = string.Empty }); }
                <h1>Мероприятия<a href="@Url.RouteUrl("EventSchedule")" style="float: right; font-size: 12px; color: cornflowerblue; text-decoration: underline; line-height: 23px;">расписание</a></h1>
                @{ Html.RenderAction("EventsSidebar", "Events", new { area = string.Empty }); }
            </div>
        </div>
        <div id="footer">
            <div class="footer-left">
                <p class="align-left">&copy;&nbsp;2013&nbsp;<strong>Soul&nbsp;Travel</strong></p>
            </div>
            <div class="footer-right">
                @* TODO: appropriate links here
                    <p class="align-right"><a href="javascript:void(0)">Home</a>&nbsp;|&nbsp; <a href="javascript:void(0)">SiteMap</a>&nbsp;|&nbsp; <a href="javascript:void(0)">RSS Feed</a> </p>
                *@
            </div>
        </div>
    </div>
</body>

@RenderFooterScripts()

@helper RenderStyles()
{
    <style>
        .picture-film
        {
            position: absolute;
            z-index: 1;
            width: 100%;
        }

            .picture-film a img
            {
                max-height: 75px;
                max-width: 75px;
                margin: auto 2.5px;
            }
    </style>
    <link rel="stylesheet" type="text/css" href="~/Content/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/base.css" />
    @RenderSection("Styles", false)
}

@helper RenderHeaderScripts()
{
    @RenderSection("HeaderScripts", false)
}

@helper RenderFooterScripts()
{
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script>
        function notImplemented() {
            alert("Извините за неудобства. Находится в разработке.");
        };
    </script>
    @RenderSection("FooterScripts", false)
}

</html>
