@using System.Configuration;
@using TravelerPortal.WebUI.Controllers;
@using Newtonsoft.Json;
@using Newtonsoft.Json.Serialization;
@using TravelerPortal.WebUI.Infrastructure;
@model TravelerPortal.Data.Article
@{
    var commentsAsJson = JsonConvert.SerializeObject(
        CommentsController.GetComments((int)ViewBag.AreaId, Model.Id).Comments,
        Formatting.None,
        new JsonSerializerSettings
        {
            ContractResolver = new CamelCasePropertyNamesContractResolver(),
            Converters = new List<JsonConverter>() { 
                new JSONCustomDateConverter("yyyy-MM-dd HH:mm", ClientContext.TimeZoneOffsetInMinutes)
            }
        }
    );
}

<h1>@Model.Name</h1>
@{Html.RenderPartial(string.Format(@"{0}/{1}", ConfigurationManager.AppSettings["pathToArticles"], Model.DetailedDescriptionPath), Model);}
<h3 style="margin-bottom: 10px;">Комментарии</h3>
<div data-bind="template: {name: 'comments-template'}"></div>
<script type="text/html" id="comments-template">
    <ol data-bind="foreach: comments" class="commentlist">
        <li class="comment">
            <div class="comment-meta">
                <img data-bind="attr: {src: user.thumbnail}" alt="" src="" class="avatar no-border" height="50" width="50">
                <div class="username">
                    <span data-bind="text: user.firstName"></span>&nbsp;<span data-bind="    text: user.lastName"></span>
                </div>
                <div data-bind="text: created" class="time"></div>
            </div>
            <div class="comment-content" data-bind="text: text"></div>
        </li>
    </ol>
</script>
<h3 style="margin-bottom: 10px;">Добавить комментарий</h3>
<div class="add-comment-wrap">
    <div class="header">
        <div class="state" style="float: left">
            <div id="error-text" style="float: left"></div>
            <div id="spinner" style="height: 20px; width: 20px; float: left"></div>
        </div>
        <div class="social bottom-margin" style="float: right">
            <a id="fb-login-button" href="javascript:void(0)" onclick="model.methods.loginToFB(); return false;"></a>
            &nbsp;
            <a id="vk-login-button" href="javascript:void(0)" onclick="model.methods.loginToVK(); return false;"></a>
        </div>
    </div>
    <textarea id="comment" class="margins" placeholder="Комментарий" style="width: 100%"></textarea>
    <input id="userName" class="margins" type="text" value="" placeholder="Имя (будет получено автоматически после авторизации)" readonly="readonly" style="width: 80%" />
    <br>
    <input id="userEmail" class="margins" type="text" value="" placeholder="E-mail" style="width: 80%" />
    <br>
    <button onclick="model.methods.sendComment()" style="float: right; font-size: 16px;">Отправить</button>
    <br>
</div>

@section FooterScripts {

    <script>
        server.configurations.VKAppId = @ViewBag.VKAppId;
        server.configurations.FBAppId = "@ViewBag.FBAppId";
        server.routeUrls.addComment = "@Url.RouteUrl("AddComment", new { areaId = (int)ViewBag.AreaId, entityId = Model.Id })";
    </script>
    <script src="http://connect.facebook.net/en_US/all.js"></script>
    <script src="http://vkontakte.ru/js/api/openapi.js"></script>
    <script src="~/Content/js/knockout-3.0.0.js"></script>
    <script src="~/Content/js/webshims/js-webshim/minified/extras/modernizr-custom.js"></script>
    <script src="~/Content/js/webshims/js-webshim/minified/polyfiller.js"></script>
    <script src="~/Content/js/spin.min.js"></script>
    <script src="~/Content/js/ViewsJS/spinnerStandardOpts.js"></script>
    <script>
        $.webshims.polyfill("forms");
        var koViewModel = (function () {
            var self = this;
            self.comments = ko.observableArray(@Html.Raw(commentsAsJson));
            return self;
        })();
        var fadeInFunc = function (element, valueAccessor) {
            var value = valueAccessor();
            $(element).hide().html(ko.utils.unwrapObservable(value)).fadeIn();
        };
        $(function () {
            ko.bindingHandlers.fadeVisible = {
                init: fadeInFunc,
                update: fadeInFunc
            };
            ko.applyBindings(koViewModel);
        });
    </script>
    <script src="~/Content/js/ViewsJS/Articles/article.js" type="text/javascript"></script>
}