@model TravelerPortal.WebUI.Views.Books.BooksVM
@{
    ViewBag.ActiveMainMenuItemTitle = "Книги";
}

<table class="books-table">
    @foreach (var book in Model.Books)
    {
        <tr>
            <td>
                <img style="max-width: 100px;" src="@book.ThumbnailPath" alt="@book.Title" />
            </td>
            <td class="text">
                <h3>@book.Author.&nbsp;"@book.Title"</h3>
                <p>@book.Description</p>
            </td>
        </tr>
    }
</table>

@section Styles
{
    <style>
        .books-table td
        {
            vertical-align: top;
        }

        .books-table .text
        {
            padding-left: 10px;
        }
    </style>
}