<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Traveler Portal</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
    @RenderStyles()
    @RenderHeaderScripts()
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="@Url.RouteUrl("AdminMain")">Статьи</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="well">
            @RenderBody()
        </div>
    </div>
</body>

@RenderFooterScripts()

@helper RenderStyles()
{
    <link href="~/Content/css/reset.css" rel="stylesheet" />
    <link href="~/areas/admin/content/frameworks/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/areas/admin/content/frameworks/bootstrap/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/areas/admin/content/css/base.css" rel="stylesheet" />
    @RenderSection("Styles", false)
}

@helper RenderHeaderScripts()
{
    @RenderSection("HeaderScripts", false)
}

@helper RenderFooterScripts()
{
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="~/areas/admin/content/frameworks/bootstrap/js/bootstrap.min.js"></script>
    @RenderSection("FooterScripts", false)
}

</html>
